body
{
         background-color: darkblue;
         color: white;
         
}
.login_div1 , .login_div2
	{
		background: black;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}
